<article class="btn-user-post-block">
    <nav>
        <ul>
            <li><a href="#/user_detail" class="btn-user">
                <i class="material-icons">face</i>
            </a></li>
            <li><a href="#/post_list" class="btn-post">
                <i class="material-icons">question_answer</i>
            </a></li>
        </ul>
    </nav>
</article>