<article class="container-infos-user">
    <div class="picture-name-infos-block">
        <div class="picture-name-block">
            <div class="picture-user">
                <!--<img src="#" />-->
            </div>
            <h2 class="name-user">{{ $ctrl.dataUser.name }}</h2>
        </div>
        <div class="infos-user-block">
            <p><span>id : </span>{{ $ctrl.dataUser.id }}</p>
            <p><span>name : </span>{{ $ctrl.dataUser.name }}</p>
            <p><span>user name : </span> {{ $ctrl.dataUser.username }}</p>
            <p><span>email : </span>{{ $ctrl.dataUser.email }}</p>
            <p><span>address : </span></p>
            <p ng-repeat="address in $ctrl.address">{{ address }}</p>
            <p><span>address geo : </span></p>
            <p ng-repeat="geoAddress in $ctrl.geoAddress">{{ geoAddress }}</p>
            <p><span>phone : </span>{{ $ctrl.dataUser.phone }}</p>
            <p><span>website : </span>{{ $ctrl.dataUser.website }}</p>
            <p><span>company : </span></p>
            <p ng-repeat="(key, value) in $ctrl.dataUser.company">{{ key }} : {{ value }}</p>
        </div>
    </div>
</article>