<article class="container-posts">
    <article class="posts-list">
        <div class="post" ng-repeat="post in $ctrl.post">
            <h2><a href="#/post_list/{{ post.id }}"><span>previous post n° </span>{{ post.id }} / from user {{ post.userId }}</a></h2>
            <div class="post-title">
                <p><span>title : </span>{{ post.title }}</p>
            </div>
        </div>
    </article>
</article>