<!DOCTYPE HTML>
<html ng-app="appDataUser">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="description" content="single page application">
		<meta name="keywords" content="SPA,API,DATA">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- ======== Style sheets ======== -->
		<link rel="stylesheet/less" type="text/less" href="assets/css/styles.less">
		<link rel="stylesheet" type="text/css" href="assets/css/angular-material.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- ======== Angular libraries ======== -->
		<script type="text/javascript" src="assets/libs/angular/angular.js"></script>
		<script type="text/javascript" src="assets/libs/angular/angular-route.js"></script>
		<script type="text/javascript" src="assets/libs/angular/angular-animate.js"></script>
		<script type="text/javascript" src="assets/libs/angular/angular-material.js"></script>
		<script type="text/javascript" src="assets/libs/angular/angular-aria.js"></script>
		<script type="text/javascript" src="assets/libs/angular/angular-messages.js"></script>
		<!-- ======== SPA main module + shared services ======== -->
		<!-- Main module -->
		<script type="text/javascript" src="app.module.js"></script>
		<!-- Shared services -->
		<script type="text/javascript" src="shared/services/fetch_data.services.js"></script>
		<!-- ======== Partials ======== -->
		<!-- header module + component -->
		<script type="text/javascript" src="partials/header/my-header.module.js"></script>
		<script type="text/javascript" src="partials/header/my-header.component.js"></script>
		<!-- aside(navigation) module + component -->
		<script type="text/javascript" src="partials/aside/my-aside.module.js"></script>
		<script type="text/javascript" src="partials/aside/my-aside.component.js"></script>
		<!-- footer module + component -->
		<script type="text/javascript" src="partials/footer/my-footer.module.js"></script>
		<script type="text/javascript" src="partials/footer/my-footer.component.js"></script>
		<!-- ======== Shared / Components ======== -->
		<!-- user-detail module + component -->
		<script type="text/javascript" src="shared/components/user-detail/user-detail.module.js"></script>
		<script type="text/javascript" src="shared/components/user-detail/user-detail.component.js"></script>
		<!-- post-list module + component -->
		<script type="text/javascript" src="shared/components/post/post-list/post-list.module.js"></script>
		<script type="text/javascript" src="shared/components/post/post-list/post-list.component.js"></script>
		<!-- post-detail module + component -->
		<script type="text/javascript" src="shared/components/post/post-detail/post-detail.module.js"></script>
		<script type="text/javascript" src="shared/components/post/post-detail/post-detail.component.js"></script>
		<!-- ======== LESS pre-processor(client side) ======== -->
		<script type="text/javascript" src="assets/libs/third_party/less.js"></script>
	</head>
	<body>
		<div id="main-wrapper" class="gridElementWrapper">
			<my-header class="gridElementL"></my-header>
			<div class="main-content-wrapper">
				<my-aside class="gridElementM"></my-aside>
				<section id="main-content" class="gridElementM" ng-view></section>
			</div>
			<my-footer class="gridElementL"></my-footer>
		</div>
	</body>
</html>