<article class="container-posts">
    <div class="post-block">
        <div class="picture-infos-user-post-block">
            <div class="picture-user-post">
                <!--<img src="#" />-->
            </div>
            <div class="infos-user-post">
                <p><span>post n° {{ $ctrl.postId}} from :</span> {{ $ctrl.user.name }} (user n°{{ $ctrl.user.id }})</p>
            </div>
        </div>
        <div class="content-user-post">
            <p>{{ $ctrl.post.body }}</p>
        </div>
    </div><!-- end post -->
    <article class="comment-block">
        <div class="comment" ng-repeat="comment in $ctrl.comments">
            <div class="picture-infos-user-comment-block">
                <div class="picture-user-comment">
                    <!--<img src="#" />-->
                </div>
                <div class="infos-user-comment">
                    <p><span>comment (post n°</span> {{ comment.postId }})</p>
                    <p><span>name :</span> {{ comment.name }}</p>
                    <p><span>email :</span> {{comment.email }}</p>
                </div>
            </div>
                <div class="content-user-comment">
                    <p>{{ comment.body }}</p>
                </div>
            </div><!-- end comment -->
    </article>
    <p class="link-back"><a href="#/post_listd">
        <i class="material-icons md-arrow-back">arrow_back</i>
    </a></p>
</article>