
/* ======== FONTS ======== */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

@font_weight_thin: 100;
@font_weight_light: 300;
@font_weight_regular: 400;
@font_weight_medium: 500;



/* ======== MATERIAL ICONS ======== */

.material-icons {
    font-size : 48px !important;
}


/* ======== COLOR ======== */

@color_red: TOMATO;
@color_green: LIME;
@color_blue: MEDIUMSLATEBLUE;

@color_magenta: MAGENTA;

@color_link: @color_blue;
@color_link_hover: @color_red;
@color_link_target: @color_red;

@color_border_picture_user : @color_green;
@color_main_section : @color_green;



/* ======== GENERAL ======== */

* {
    box-sizing: border-box;
}

body, h1, h2, p, div, span, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

h1, h2, span {
    font-weight: @font_weight_medium;
}

p {
    word-break: break-all;
}

a {
    text-decoration: none;
    color: @color_link;
    transition: all 0.7s ease;
}


/*=== fluid grid ===*/

.gridElementWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border: 2px solid @color_magenta;
}

.gridElementL {
	width: 97.389558232932%; /* 970 / 996 */
	margin: 0 1.305220883534%; /* 13 / 996 */
}

.gridElementM {
	width: 47.389558232932%; /* 472 / 996 */
	margin: 0 1.305220883534%; /* 13 / 996 */
    display: inline-block;
    float: left;
}

.main-content-wrapper {
    flex: 1;
}

/* ======== INDEX ======== */


/* ======== HEADER ======== */

header {
    margin-top: 10px !important;
    margin-bottom: 50px !important;
    border : 1px solid @color_red;
}


/* ======== ASIDE ======== */

my-aside {
    padding: 30px 20px;
    border: 1px solid @color_blue;
    .btn-user-post-block {
            display: flex;
            align-items: center;
            justify-content: center;
        nav {
            li {
                padding: 60px;
                list-style: none;

                a {
                    display: flex;
                    align-items : center;
                    justify-content : center;
                }
            }
        }
        .btn-user, .btn-post {
            width: 130px;
            height: 130px;
            border: 1px solid @color_link;
            border-radius : 50%;
            &:hover {
                border: 1px solid @color_link_target;
                color: @color_link_target;
            }
            &:focus {
                border: 1px solid @color_link_target;
                color: @color_link_target;
            }
        }
    }
}



/* ======== USER_DETAIL_TEMPLATE ======== */

.container-infos-user {
    padding: 30px 20px;

    .picture-name-infos-block {
        text-align: center;
        .picture-name-block {
            margin-bottom: 107px;
            text-align: center;
            .picture-user {
                display: inline-block;
                width: 130px;
                height: 130px;
                border: 1px solid @color_border_picture_user;
                border-radius: 50%;
            }
            .name-user {
                margin-top: 47px;
                font-size: 2.25em;
                font-weight: @font_weight_light;
            }
        }

        .infos-user-block {
            display: inline-block;
            text-align: left;
            font-weight: @font_weight_light;
        }
    }
}



/* ======== POST_LIST_TEMPLATE ======== */

.posts-list {
    .post {
        margin: 20px 0;
        border: 1px solid @color_green;

        &:nth-child(1) {
            margin-top: 0;
        }
        &:nth-last-child {
            margin-bottom: 0;
        }
        .post-title {
            margin-top: 10px;
        }
    }
}



/* ======== POST_DETAIL_TEMPLATE ======== */

.container-posts {
    padding: 30px 20px;

    .post-block {
        border: 1px solid @color_green;
        .picture-infos-user-post-block {
            display: flex;
            .picture-user-post {
                display: flex;
                min-width: 50px;
                height: 50px;
                border: 1px solid @color_border_picture_user;
                border-radius: 50%;
            }
            .infos-user-post {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-left: 15px;
            }
        }
        .content-user-post {
            margin: 25px 0 0 65px;
            font-weight: @font_weight_light;
        }
    }

    .comment-block {
        margin: 30px 0 25px 0;
        .comment {
            margin: 10px 0;
            padding-bottom: 10px;
            border: 1px solid @color_red;
            &:nth-child(1){
                margin-top: 0;
            }
            &:nth-last-child {
                margin-bottom: 0;
            }
            .picture-infos-user-comment-block {
                display: flex;
                .picture-user-comment {
                    display: flex;
                    margin-left: 38px;
                    min-width: 40px;
                    height: 40px;
                    border: 1px solid @color_border_picture_user;
                    border-radius: 50%;
                }
                .infos-user-comment {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: 15px;
                }
            }
            .content-user-comment {
                margin: 20px 0 0 93px;
                font-weight: @font_weight_light;
            }
        }
    }
}

.link-back {
    font-weight : @font_weight_thin;
}


.material-icons.md-arrow-back {
    font-size: 1.875em !important; /* = 30px */
    transition: all ease 0.5s;
    &:hover {
        color: @color_magenta;
    }
}


/* ======== FOOTER ======== */

footer {
    clear: both;
    border : 1px solid @color_red;
    font-weight: @font_weight_light;
}



/* ======== OTHERS CLASSES ======== */


/*==== angular animate class / fade effect ====*/

#main-content {
    border: 1px solid @color_main_section;
    margin-bottom: 50px !important;
    &.ng-enter {
        transition: 0.5s linear all;
        opacity: 0;
    }

    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
}



/* ======== RESPONSIVENESS ======== */

@media screen and(max-width:414px){

    .gridElementWrapper {
        width: 100%;
        margin-left: 13px;
        margin-right: 13px;
    }
    .gridElementL, .gridElementM{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    header, footer {
        width: auto !important;
    }

    header {
        margin-bottom: 40px !important;
    }

    my-aside {
        nav {
            width: 100%;
                li {
                    padding: 0 !important;
                }
        }
    }

    .post-block {
        .content-user-post {
            margin-left: 0 !important;
        }
    }

    .container-infos-user {
        .picture-name-infos-block {
            .picture-name-block {
                margin-bottom: 43px;
                .picture-user {
                    width: 91px;
                        height: 91px;
                    }
                    .name-user {
                        margin-top: 43px !important;
                        font-size: 1.6875em !important;
                    }
            }

            .infos-user-block {
                width: auto !important;
            }
        }
    }

    .comment-block {
        margin: 30px 0 25px 0;
        .comment {
            margin: 10px 0;
            padding-bottom: 10px;
            border: 1px solid @color_red;
            &:nth-child(1){
                margin-top: 0;
            }
            &:nth-last-child {
                margin-bottom: 0;
            }
            .picture-infos-user-comment-block {
                .picture-user-comment {
                    margin-left: 0px !important;
                    min-width: 35px !important;
                    height: 35px !important;
                }
            }
            .content-user-comment {
                margin-left: 0 !important;
            }
        }
    }

    #main-content {
        width: auto;
    }

    .container-infos-user, .container-posts, footer {
        font-size: 0.875em;
    }
}


@media only screen and(min-width:480px) and (max-width:640px) and (orientation:landscape){}


@media screen and (max-width:768px) {

    header {
        width: auto;
    }

    .gridElementWrapper {
        width: 90%;
    }

    .gridElementM {
        float: none;
        display: block;
        width: auto;
    }

    my-aside {
        width: auto !important;
        margin-bottom: 66px !important;

        .btn-user-post-block {
        }

        nav {
            width: 100%;
            ul {
                display: flex;
                justify-content: space-around;
                li {
                    padding: 0 !important;
                    a {
                        width: 80px !important;
                        height: 80px !important;
                    }
                }
            }
        }
    }

    #main-content {
        width: auto;
    }

    .container-infos-user {
        .infos-user-block {
            width: auto !important;
        }
    }

    .material-icons {
        font-size : 2.25em !important; /* = 36px */
    }
}


@media screen and (max-width:1366px) {}


@media screen and (min-width:1420px) {
    .gridElementWrapper {
        width: 70%;
    }
}